torch==2.9.1
torchmetrics==0.7.3
torchscale==0.3.0
torchvision==0.24.1
timm==0.6.13
pillow==12.0.0
blobfile==3.1.0
mypy==1.19.0
numpy==2.2.6
pytest==9.0.1
requests==2.32.5
einops==0.8.1
scipy==1.15.3
ftfy==6.3.1
opencv-python==4.12.0.88
sentencepiece==0.2.1
pyarrow==22.0.0
transformers==4.57.3
deepspeed==0.18.2
pycocotools==2.0.10
pycocoevalcap==1.2